* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header Section Styles */
.header {
    height: 800px;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner {
    padding: 216px 230px 364px 845px;
    text-align: right;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-bottom: 24px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 32px;
}

.btn-primary {
    background: #F15B22;
    border-radius: 5px;
    border: 1px solid #F15B22;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
}

/* Failure Section Style */
.failures-container {
    display: flex;
    gap: 87px;
    margin: 0 230px;
    align-items: center;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 130px;
    margin-bottom: 24px;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-description-sub {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 8px;
}

.failure-description-color {
    color: #16D887;
}

/* My Plan Section Style */

.plan-container {
    display: flex;
    gap: 60px;
    margin: 0 230px;
}

.plan-section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 130px;
    margin-bottom: 50px;
    text-align: center;
}

.plan1, .plan2, .plan3, .plan4 {
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 24px;
    margin-bottom: 16px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.positive-container {
    margin: 130px 230px 0 230px;
    height: 300px;
    background-image: url('../images/gradient.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.positive {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding: 59px 617px 147px 64px;
}

.positive-btn {
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    padding: 20px 36px;
    margin-top: 24px;
}
