* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header Section Styles */
.header {
    height: 800px;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner {
    padding: 216px 230px 364px 845px;
    text-align: right;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-bottom: 24px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 32px;
}

.btn-primary {
    background: #F15B22;
    border-radius: 5px;
    border: 1px solid #F15B22;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
}

.failures-container {
    display: flex;
    gap: 87px;
    margin: 0 230px;
    align-items: center;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 130px;
    margin-bottom: 24px;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-description-sub {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 8px;
}

.failure-description-color {
    color: #16D887;
}
